*{
    margin: 0%;
    padding: 0%;
}
body{
    border: 1px dotted blue;
}

marquee{
    margin:2em 0 1em
}
a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

div a {
    text-decoration: none;
    display: block;
    padding: 0 2%;
    color: white;
    transition: all 700ms;
    
}

div a:hover {
    color: rgb(32, 1, 1);
    background-color: white;
}

h1 {
    font-size: 30pt;
    color: rgb(255, 255, 255);
    font-family: verdana;
    
}

h2 {
    font-size: 20pt;
    
    font-family: verdana;
}

p {
    font-size: 1.5em;
    color: black;
    font-family: Geneva, Tahoma, sans-serif;
    border-left: 1px solid black;
    display: inline-block;
    margin: 5px 1em;
    background-color: white;
    padding-left: 5px;
    padding-right: 2em;
    border-radius: 0 1em 1em 0;
}

div.nav {
    display: flex;
    width: 100%;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(17, 0, 0);
    margin: 5px 0;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;

}
.nav a{
    margin:0 5px 0;
    font-size: 1.5em;
    flex-basis: 200px;
    flex-grow: 0;
    text-align: center;
}


table {
    border-collapse: collapse;
    text-align: left;
    content: center;
    margin-left: 20%;
}

.submit {
    color: white;
    background-color: blue;
    border: 0px;
    border-radius: 5px
}

.submit:hover {
    color: blue;
    background-color: white;
    border: 0px;
    border-radius: 5px
}

input {
    
    color: yellow;
}

img {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 15px;
    box-sizing: border-box;
}



body{
    background-color: rgb(255, 43, 5);
}
.content{
    width:70%;
}
.content p{
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-style:italic;
    opacity: .8;
}
.content h1{
    padding-left: 1em;
    margin-top: 2em;
    transition: all 700ms;
}
.content h1:hover{
    color:black;
}
.sidebar{
    position: absolute;
    left: 69%;
    top: 5em;
    width: 30%;
}
.data{
  position: relative; 
 
}
.event{
margin:0 2em;
}
.list{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5px;
   
}
.item{
    background-color: rgb(42, 3, 3);
    box-shadow: 2px 2px 0px white  ;
}
span{
    color: rgb(245, 251, 189);

}
.footer-box{
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 0, 151);
}
.footer-item{
    margin: 1em;
}
.footer-item a{
    display: block;
    padding: 3px;
}
.footer-box .end{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: white;
} 
.message h1{
    font-size: 1.5em;
    margin: 1em 0 1em 1.2em;
    
}
 input::placeholder{
    color: rgb(255, 0, 0);
}  
.message .msg{
    background-color: white;
    color: rgb(32, 1, 1);
    margin-left: 2em;
    width: 70%;
    height: 3em;
    border: 0mm;
    border-radius: 5px;
    padding-left: 1em;
}

.message button{
    display: block;
    margin: .5em 0 0 2em ;
    background-color: rgb(36, 1, 1);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 700ms;
}
.message button:hover{
    background-color: white;
    color: black;   
}
@media screen and ( max-width:600px) {
    div .content p{
        width: 100%;
        font-size: 1em;
    }
    div.sidebar{
        position: unset;
        width:auto;
        margin: 1em;
    }
}
.cont{
    min-height: 100vh;
    position: relative;
}
.libfoot{
    position: absolute;
}
